body {
  font-family: Arial;
}

h1, h2, h3, h4, h5, label {
  color: #996633;
}

h1 {
  font-size: 32px;
}

p, span {
  color: #996633;
  font-size: 13px;
  font-weight: 500;
}

img {
  display: block;
}

/* Tipography */
@media (min-width: 1200px)
{
  .container {
      width: 970px;
  }
}

.center {
  margin: 0 auto;
  text-align: center;
}

.width-33 {
  float: left;
  width: 33%;
}

.full-width {
  display: block;
}

.banner {
  margin: 0 auto;
}

.banner img {
    margin: 0 auto;
    padding: 17px;
}

.menu-container, .banner {
  background-color: #996633;
}

.img-container-border {
  border: 1px solid #996633;
  border-radius: 3px;
  padding: 3px;
}

.img-container-border img {
  margin: 0 auto;
}

.menu-container {
  background-color: #fff;
  margin-bottom: 0;
}

.menu {
  float: right;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.menu a {
  cursor: pointer;
  color: #996633;
  font-weight: bold;
}

.sub-menu-item:hover {
  background-color: #ffffcc;
}

.menu-item {
  border-left: 2px solid #996633; 
  display: inline-block;
  line-height: 21px;
  margin: 10px 0;
  padding: 0 15px;
  position: relative;  
  text-align: left;
}

.menu-item:first-child {
  border-left: none; 
}

.sub-menu{
  border: 1px solid #e1e1e1;
  display: none;
  background: #fff;
  left: 0;
  padding-left: 0px;
  min-width: 180px; /* Set width of the dropdown */
  position: absolute;
  top: 21px;
  z-index: 999;  
  moz-box-shadow: 0 30px 60px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 30px 60px rgba(0,0,0,0.1);
  box-shadow: 0 30px 60px rgba(0,0,0,0.1);  
}

.sub-menu-item {
  list-style: none;
  padding: 4px 0;
}

.sub-menu-item a {
  display: block;
  padding-left: 5px;
}

.menu a:hover {
  text-decoration: none;
}

.menu-item a:hover {
  color: #cc9966;
}

.menu li:hover ul.sub-menu{
  display: block; /* Display the dropdown */
}

.container-footer-quote{
  font-family: 'Rancho',cursive;
  text-align:center;
}

.container-footer-quote span {
  color:#996633;
  font-size:32px;
}

.footer {
  background-color: #ECEAE4;
  padding: 15px 0;
}
