<!DOCTYPE html>
<html>
<head>
  <title>Trasmontano e Faialense</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Rancho" rel="stylesheet" type="text/css">
  <link rel="icon" type="image/png" href="images/favicon.png"/>
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
  <script type="text/javascript" src="scripts/bxslider.js"></script>

</head>
<body>
  <div class="container menu-container clearfix">
    <ul class="menu">
      <li class="menu-item"><a href="/">Home</a></li>
      <li class="menu-item">
        <a>Silvestre</a>
        <ul class="sub-menu">
          <li class="sub-menu-item">
            <a href="/historia-de-silvestre">História de Silvestre Rodrigues</a>
          </li>       
          <li class="sub-menu-item">
            <a href="/arvore-genealogica-de-costados-de-silvestre">Genealogia Silvestre Rodrigues</a>
          </li>
          <li class="sub-menu-item">
            <a href="/a-genealogia-dos-rodrigues">Genealogia família Rodrigues</a>
          </li>
          <li class="sub-menu-item">
            <a href="/arvore-genealogica-de-costados-de-maria-martins">Genealogia Maria Martins</a></li>
          <li class="sub-menu-item">
            <a href="/genealogia-da-familia-martins">Genealogia família Martins</a></li>
           <li class="sub-menu-item">
            <a href="/arvore-genealogica-de-costados-de-galdina">Genealogia Galdina da Silva</a></li>
        </ul>
      </li>
      <li class="menu-item">
        <a>Francisco</a>
        <ul class="sub-menu">
          <li class="sub-menu-item">
            <a href="/historia-de-francisco">História Francisco da Silva Vargas</a>
          </li>
          <li class="sub-menu-item">
            <a href="/arvore-genealogica-de-costados-de-francisco">Genealogia Francisco da Silva Vargas</a>
          </li>
          <li class="sub-menu-item">
            <a href="/genealogia-vargas">Genealogia família Vargas</a>
          </li>             
          <li class="sub-menu-item">
            <a href="/arvore-genealogica-de-costados-de-florisbella">Genealogia Florisbela Fonseca Oliveira</a></li>
          <li class="sub-menu-item">
            <a href="/arvore-genealogica-costados-de-Amazil">Genealogia Amazil Cezar Costa</a></li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="#">Genealogias</a>
        <ul class="sub-menu">
          <li class="sub-menu-item"><a href="/familia-antunes-de-mello">Família Antunes de Mello</a></li>
          <li class="sub-menu-item"><a href="familia-barreto">Família Barreto</a></li>
          <li class="sub-menu-item"><a href="/arvore-genealogica-da-familia-borba">Família Borba</a></li>
          <li class="sub-menu-item"><a href="/arvore-genealogica-de-roselia-renita-bredow">Família Bredow</a></li>
          <li class="sub-menu-item"><a href="/familia-correa">Família Corrêa</a></li>
          <li class="sub-menu-item"><a href="familia-dittberner">Família Dittberner</a></li>
          <li class="sub-menu-item"><a href="familia-gonçalves">Família Gonçalves</a></li>
          <li class="sub-menu-item"><a href="familia-kassner">Família Kassner</a></li> 
          <li class="sub-menu-item"><a href="genealogia-de-sergio-luis-kirsch-da-silveira">Família Kirsch da Silveira</a></li>
          <li class="sub-menu-item"><a href="familia-kochenborger">Família Kochenborger</a></li>
          <li class="sub-menu-item"><a href="familia-lacerda">Família Lacerda(Jaci)</a></li>
           <li class="sub-menu-item"><a href="familia-lacerda-salsabio">Família Lacerda(Salsabio)</a></li>
          <li class="sub-menu-item"><a href="/arvore-genealogica-de-guilherme landskron">Família Landskron</a></li>
          <li class="sub-menu-item"><a href="familia-mazuim">Família Mazuim</a></li>
          <li class="sub-menu-item"><a href="familia-resende">Família Resende</a></li>
          <li class="sub-menu-item"><a href="familia-schaurich">Família Schaurich</a></li>
          <li class="sub-menu-item"><a href="/familia-silveira-ramos">Família Silveira Ramos</a></li>
          <li class="sub-menu-item"><a href="/arvore-genealogica-da-familia-souza">Família Souza</a></li>
          <li class="sub-menu-item"><a href="genealogia-da-familia-teixeira-do-canto.html">Família Teixeira do Canto</a></li> 
          <li class="sub-menu-item"><a href="/genealogia-da-familia-viegas">Família Viegas</a></li>
          <li class="sub-menu-item"><a href="/familia-vivian">Familia Vivian</a></li>
          </ul>
      </li>
      <li class="menu-item"><a href="/fotos">Fotos</a></li>
      <li class="menu-item">
        <a href="#">Iasd</a>
        <ul class="sub-menu">
        <li class="sub-menu-item"><a href="/história-da-iasd-bosque">História Iasd Bosque</a></li>
        <li class="sub-menu-item"><a href="/ensino-da-iasd-bosque">Ensino Iasd Bosque</a></li>
        <li class="sub-menu-item"><a href="/história-da-iasd-cachoeira">História Iasd Cachoeira</a></li>
        <li class="sub-menu-item"><a href="/ensino-da-iasd-cachoeira-do-sul">Ensino Iasd Cachoeira</a></li>
        </ul>
      </li>
        
      <li class="menu-item">
        <a>Curiosidades</a>
        <ul class="sub-menu">
          <li class="sub-menu-item">
            <a href="/expostos">Expostos</a>
          </li>
          <li class="sub-menu-item">
            <a href="/a-morte-de-anna">A morte de Anna</a>
          </li>
          <li class="sub-menu-item">
            <a href="/alcunhas">Alcunhas</a>
          </li>
          <li class="sub-menu-item">
            <a href="/paternidade">Paternidade</a>
          </li>
          <li class="sub-menu-item">
            <a href="/diversas">Diversas Curiosidades</a>
          </li>
          <li class="sub-menu-item">
            <a href="/downloads">Downloads</a>
          </li>
        </ul>
      </li>
      <li class="menu-item"><a href="/contato">Contato</a></li>
      
    </ul>
  </div>
  <div class="banner">
    <img src="images/bannersc1.jpg" class="img-responsive" alt="banner">
  </div>
  
  <div class="content">
    {{ content }}
  </div>
  <div class="footer">
    <div class="container">
      <span>Responsável pelo site: Claudio Rodrigues Vargas</span>
    </div>
  </div>
</body>
</html>
